/*========== Sobre ==========*/

.sobre
{
    height: 100%;
    margin: 2% 0;

    background-image: url('/Public/Assets/dist/css/img/background/sobre.jpg');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

.sobre article
{
    float: right;

    height: 100%;
    padding: 2%;

    background-color: rgba(245,245,245, .6);
    box-shadow: -38px 0 62px 0 rgba(0,0,0,.25);
}

.sobre article h1
{
    text-align: right;
}

.sobre article p
{
    max-height: 100%;
}

/*========== Serviços ==========*/

.servicos-mobile {
    display: none;
}

.servicos
{
    width: 100vw;

    background-image: url('/Public/Assets/dist/css/img/background/servicos.jpg');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    box-shadow: -38px 0 62px 0 rgba(0,0,0,.25);
}

.menu
{
    position: relative;
    z-index: 2;

    float: left;
}

.menu ul
{
    margin: 0;
    padding: 0;

    list-style: none;
}

.disable
{
    overflow: hidden;

    width: 114px;

    cursor: pointer;
    transition: all 1s;

    box-shadow: 15px 0 30px 0 rgba(0,0,0,.25);
}

.ativo
{
    width: 400px;

    box-shadow: 15px 15px 30px 0 rgba(0,0,0,.25);
}

.texto
{
    position: absolute;
    left: -100vw;

    float: right;

    width: 100vw;
    margin: 0;
    padding: 1%;

    text-align: justify;

    background-color: rgba(245,245,245, .5);
}

.texto p,
.texto h2
{
    float: right;
    clear: both;
    margin: 0 30px;
    width: 500px;

    text-align: center;
}

.texto h2 {
    margin-top: 50px;
}
.texto p {
    margin-bottom: 100px;
}

.producao
{
    left: 0;

    height: 576px;

}

/*========== Serviços mobile ==========*/

@media screen and (max-width: 960px)
{
    .servicos-mobile {
        margin: 30px auto;
        display: block;
    }

    .servicos-desktop {
        display: none;
    }

    .background{
        content: '';
        margin: auto;
        padding: 1%;
        width: 100vw;
        background-color: rgba(245,245,245,1);
    }

    .servicos-mobile .row
    {
        width: 100vw;
    }

    .servicos-mobile div article
    {
        height: auto;
        margin: 2% 40px;
        padding: 0;
        width: auto;

        border-radius: 5px;
    }

    .icon {
        border-radius: 3px 3px 0 0;
        width: 100%;
        max-width: 100%;
    }
    .icon img {
        border-radius: 3px 3px 0 0;
        width: 100%;
    }

    .producao{
        border: 2px solid #49B724;
        background-color: #8DC63F;
    }
    .emailmark{
        border: 2px solid #F88100;
        background-color: #FFB047;
    }
    .midia{
        border: 2px solid #F24058;
        background-color: #F7687A;
    }
    .criacao{
        border: 2px solid #00B69D;
        background-color: #00CFB5;
    }
    .visual{
        border: 2px solid #0A94AE;
        background-color: #16C4E6;
    }
    .offiline{
        border: 2px solid #A1A1A1;
        background-color: #ADBDBC;
    }
    .texto-mobile {
        width: 100%;
        background-color: transparent;
        padding: 10px;
        text-align: center;

        font-size: 2rem;
    }
    .texto-mobile p {
        color: #fff;
    }
}

@media screen and (min-width: 640px) and (max-width: 960px) {
    .servicos-mobile div article
    {
        margin: 2% 100px;
        width: 70%;
    }    
}
/*========== Blog ==========*/

.blog
{
    height: 500px;
    margin: 50px auto;
    padding: 150px 0;

    text-align: center;

    box-shadow: -38px 0 62px 0 rgba(0,0,0,.25);
}

/*========== Contato ==========*/

.contato
{
    margin: 50px auto;
}

.contato article
{
    height: 300px;
    margin-top: 1%;
    margin-bottom: 1%;

    border: 2px solid #a0a;
    border-radius: 5px;
}

.contato article p
{
    font-size: 1.8rem;
}

.contato article a
{
    font-size: 1.7rem;
}

@media screen and (min-width: 640px) and (max-width: 1000px) {
    .contato article
    {
        margin: 1% 100px;
        width: 70%;
    }
}

@media screen and (min-width: 1000px)
{
    .contato .telefone
    {
        margin-left: 4.166666665%;
    }
}

.contato .email a
{
    font-size: 3rem;

    margin: 0 calc(50% - 50px);
    padding: 10px 20px;

    color: #f5f5f5;
    border-radius: 5px;
    background-color: #744bb1;
}
