html {
    font-size: 10px;
}

body
{
    font-family: 'Lato', sans-serif;
    font-size: 1.6rem;

    overflow-x: hidden;

    background-color: #fcfafb;
}
h1
{
    font-size: 3.5rem;

    color: rgb(80,0,80);
}

h2
{
    font-size: 2.5rem;

    color: rgb(100, 0, 100);
}

p
{
    font-size: 2rem;

    color: rgb(122,12,102);
}

i
{
    margin-right: 1%;
}
a
{
    text-decoration: none;

    color: rgb(122,12,102);
}
a:hover,
a:visited,
a:focus
{
    text-decoration: underline;

    color: rgb(172,62,152);
}
